BR2_arm=y
BR2_cortex_m3=y
BR2_KERNEL_HEADERS_4_4=y
BR2_PTHREADS_NONE=y
BR2_GCC_VERSION_7_X=y
BR2_TARGET_RUN_TESTSCRIPT=y
BR2_PACKAGE_BUSYBOX_CONFIG="package/busybox/busybox-m3.config"
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_SIZE="10M"
BR2_TARGET_AFBOOT_STM32=y
