BR2_xtensa=y
BR2_XTENSA_CUSTOM=y
BR2_XTENSA_OVERLAY_FILE="https://github.com/jcmvbkbc/xtensa-toolchain-build/raw/95291b7c39e6f790d0b2f062c945a630290f2c81/overlays/xtensa_de212.tar.gz"
BR2_KERNEL_HEADERS_4_4=y
BR2_PTHREADS_NONE=y
BR2_PACKAGE_HOST_ELF2FLT=y
# BR2_USE_MMU is not set
# BR2_TARGET_ENABLE_ROOT_LOGIN is not set
BR2_TARGET_RUN_TESTSCRIPT=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"
BR2_TARGET_ROOTFS_CPIO=y
# BR2_TARGET_ROOTFS_TAR is not set
